@page "/video/register"
@rendermode InteractiveServer

@attribute [Authorize]

<h1>Register a new video</h1>

@if (!RendererInfo.IsInteractive)
{
    <h2>Loading...</h2>
}
else
{
    <EditForm Model="model" role="form">
        <DataAnnotationsValidator />

        <div class="mb-2">
            <label>Video URL</label>
            <div class="input-group">
                <span class="input-group-text" id="youtube-baseurl">https://www.youtube.com/watch?v=</span>
                <InputText @bind-Value="model.VideoId"
                           @bind-Value:after="DiscoveryVideoInformationAsync"
                           class="form-control"
                           aria-describedby="youtube-baseurl youtube-videoid-description" />
            </div>
            <div class="form-text" id="youtube-videoid-description">Copy and paste the ID of the video you want to register.</div>

            <ValidationMessage For="@(() => model.VideoId)" class="text-danger" />
        </div>
        @if (loadingVideoInformation)
        {
            <div class="mb-2">
                <div class="alert alert-info">
                    loading video information...
                </div>
            </div>
        }
        else if (!string.IsNullOrEmpty(loadingVideoInformationErrorMessage))
        {
            <div class="mb-2">
                <div class="alert alert-danger">
                    @loadingVideoInformationErrorMessage
                </div>
            </div>
        }

        <div class="mb-2">
            <label>Title</label>
            <p class="form-control-plaintext">@model.Title</p>
        </div>

        <div class="mb-2">
            <label>Description</label>
            <p class="form-control-plaintext">@model.Description</p>
        </div>

        <div class="mb-2">
            <label>Publish date</label>
            <p class="form-control-plaintext">@(model.PublishedAt.HasValue ? model.PublishedAt.Value.ToShortDateString() : "-")</p>
        </div>

        <div class="mb-2">
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
        </div>
    </EditForm>
}
