@page "/videos/{id:guid}"

@attribute [StreamRendering]

<PageTitle>Sentimeter - @(model?.Title ?? "Video detail")</PageTitle>

<Toolbar Title="@(model?.Title ?? "Video detail")">
    <Actions>
        <a href="videos" class="btn btn-outline-primary">Back to my videos</a>
    </Actions>
</Toolbar>
<hr/>

@if (loading)
{
    <h2>Loading video....</h2>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <p>@model!.Description</p>
                    @if (model.PublishedAt.HasValue)
                    {
                        <p>Published at: @model.PublishedAt.Value.ToShortDateString()</p>
                    }
                </div>
            </div>

            @if (!string.IsNullOrEmpty(model!.Identifier))
            {
                <div class="row">
                    <div class="col-md-12">
                        <VideoPreview VideoId="@model.Identifier" />
                    </div>
                </div>
            }
        </div>
    </div>
}
