@page "/videos"
@attribute [StreamRendering]
@attribute [Authorize]

<PageTitle>Sentimeter - My videos</PageTitle>

<Toolbar Title="My videos">
    <Actions>
        <a href="videos/register" class="btn btn-outline-primary">Register a new video</a>
    </Actions>
</Toolbar>
<hr/>

@if (loading)
{
    <ItemsPlaceholder />
}
else
{
    <div class="row">
        @foreach (var video in model.Items)
        {
            <div class="col-md-3 mb-2">
                <VideoListItem Video="video" />
            </div>
        }
    </div>
}
