@page "/videos/{page:int?}"
@attribute [StreamRendering]
@attribute [Authorize]

<PageTitle>Sentimeter - My videos</PageTitle>

<Toolbar Title="My videos">
    <Actions>
        <a href="videos/register" class="btn btn-outline-primary">Register a new video</a>
    </Actions>
</Toolbar>
<hr/>

@if (loading)
{
    <ItemsPlaceholder />
}
else
{
    <div class="row">
        @foreach (var video in model.Items)
        {
            <div class="col-md-3 mb-2">
                <VideoListItem Video="video" />
            </div>
        }
    </div>
    <div class="nav">
        <ul class="pagination">
            <li class="page-item align-content-center px-2">
                page <strong>@Page</strong> of <strong>@model.NumberOfPages</strong>
            </li>
            <li class="page-item@(model.IsFirstPage ? " disabled" : "")">
                <a class="page-link" href="videos/@(Page - 1)">
                    <span aria-hidden="true">&laquo;</span>
                    <span>prev</span>
                </a>
            </li>
            <li class="page-item@(model.HasNextPage ? "" : " disabled")">
                <a class="page-link" href="videos/@(Page + 1)">
                    <span aria-hidden="true">&raquo;</span>
                    <span>next</span>
                </a>
            </li>
        </ul>
    </div>
}
